@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');
$bright-green: #00DF62;
$light-gray:#B9B9B9;
$mid-gray:#818081;
$grey-bg: #f9f9f9;
$grey-line: darken($grey-bg, 10%);
$font-grey-color:#4A4A4A;
$note-grey: #999;
$font-family:"Lato", "Merriweather","Merriweather Sans",Helvetica, sans-serif;

$small-font-size:18px;
$mid-font-size:20px;
$large-font-size:22px;

$content-font-size:14px;
$title-font-size: 16px;

$z-index-front : 1000;

